body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #67d0ff;
    margin: 0px 0px 10px 0px;
    padding: 5px 25px;
}

.link {
    color: black;
    text-decoration: none;
}

.post_link {
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px 0px 0px 20px;
    background-color: aliceblue;
    width: 70%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#post_title {
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 30px;
}

#post_wrapper {
    width: 70%;
}

#post {
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
}

#post_submitter {
    margin: 10px 0px 30px 20px;
    font-family: sans-serif;
}

#comments {
    width: 70%;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 20px;
    padding: 10px;
}

.comment {
    margin: 5px;
    padding: 3px;
    border: 1px solid black;
}

.reply {
    margin-left: 5px;
    border: 1px solid black;
}

.commenter {
    font-size: 11px;
    font-style: italic;
    padding: 3px;
}

.comment_text {
    padding: 5px;
}