body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #67d0ff;
    margin: 0px 0px 10px 0px;
    padding: 5px 25px;
    text-decoration: none;
    color: black;
    font-style:italic;
}

#post_title {
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 30px;
}

#post_wrapper {
    width: 70%;
}

#post {
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
}

#post_submitter {
    margin: 10px 0px 0px 20px;
    font-family: sans-serif;
}