body {
    margin: 0px;
    top: 0px;
    padding: 0px;
}
    
#home {
    background-color: #ccf2ff;
    padding: 30px 50px;
    margin: 0px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
}

i
{
    font-size: 30px;
    padding-top: 30px;
}