body {
    margin: 0px;
    top: 0px;
    padding: 0px;
    background-color: #d1e9ff;
}

.hflag {
    border: 1px solid black;
    margin: 0% 1%;
}

#image-header {
    padding-top: 5px;
    width: 100%;
    text-align: center;
}
    
#header {
    background-color: #7191e6;
    text-align: center;
    padding: 20px 0px;
    margin: 0px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
}

#slideshow-wrapper
{
    text-align: center;
}

#images-wrapper
{
    margin: 10px 0px;
    display: inline-block;
}

#slides
{
    position: relative; 
    width:800px; 
    height:573px;
    border-radius: 10px;
    
    -webkit-box-shadow: 3px 4px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 29px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 29px 0px rgba(0,0,0,0.75);
}

#slides .-slideswrap
{
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    
    position:absolute;
    overflow:hidden;
    width:800px;
    height:573px;
    border: 2px solid #060091;
    border-radius: 10px;
    
    background-color: #cecece;
    
    -webkit-box-shadow: 3px 4px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 29px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 29px 0px rgba(0,0,0,0.75);
}

#slides .-slideimg
{ 
    border: 0px none !important;
    padding:0 !important;
    position: absolute !important;
    width: 100%;
    display: none;
}

#slides-buttonback, #slides-buttonforward
{
    border: 0px none !important;
    padding:0 !important;
    margin:0 !important;
    position: absolute !important;
    z-index:20000;
    top:50%;
    height:50px;
    margin-top:-25px !important;
    cursor:pointer;
    opacity:0.8;
}

#slides-buttonforward
{
    right:0;
}

#slides-buttonback
{
    left: 0;
}

#slides-buttonback:hover, #slides-buttonforward:hover
{
    opacity:1;
}

.fade
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

#information
{
    font-family: serif;
    padding: 5px 30px;
    margin: 10px auto;
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    width: 90%;
    font-size: 1.2em;
    border: 2px solid #060091;
    border-radius: 20px;
}

#assignments-page
{
    padding: 5px;
    margin: 0px 0px 0px 10px;
    font-size: 1.3em;
    color: #000000;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
}

#assignments-page:hover
{
    background-color: #dbe0e8;
}

#assignments-page:active
{
    background-color: #abb1ba;
}

